@keyframes text_animate {
	0% {
		opacity: 0.3;
	}
	50% {
		opacity: 0.5;
	}
			100% {
		opacity: 0.3;
	}
}

.loader {
	color: #FAFAFA;

	h3 {
		position: absolute;
		left: 50vW;
		transform: translateX(-50%);
		bottom: 30vH;
		letter-spacing: 5px;
		animation: text_animate 1s infinite alternate;
		font-family: 'Inconsolata', monospace;
	}
}

.Desk {

	margin: 0;
    width: 100vW;
    height: 100vH;
    overflow: hidden;
    background-color: #1C012A;
	z-index: 8000;

	svg {
		max-height: 100vH;
		width: auto;
		margin-left: 50vW;
		transform: translateX(-50%)

	}

	// .Menu {
	// 	z-index: 10000;
	//
	// 	.menu_panel {
	// 		z-index: 100000;
	// 	}
	// }

}
