$mobile : 540px;
$tablet : 840px;
$desktop: 1040px;

.About {
	width: 100vW;
	background: #ffffff;
	min-height: 100vH;

	.about {
		background: #ffffff;
		position: absolute;
		width: 50vW;
		@media screen and (min-width: 0px) and (max-width: $desktop) {
			width: 100vW;
		}


		h2 {
			margin-top: 0;
			padding-top: 5vH;
			padding-bottom: 5vH;
			margin-bottom: 5vH;
			text-align: center;
			font-family: 'Raleway', sans-serif;
			color: #e2264f;
			@media screen and (min-width: 0px) and (max-width: $desktop) {
				background: #55212d;
				color: #fafafa;
			}
		}

		h4 {
			margin-left: 5vW;
			margin-right: 5vW;
			text-align: center;
			font-family: 'Raleway', sans-serif;
			color: #e2264f;
			background: #ffffff;
		}

		.qa_wrapper{

			padding-bottom: 5vh;

			p {
				margin-left: 3vW;
				margin-right: 1vW;
				color: black;
				position: relative;
				font-family: 'Poiret One', cursive;
				//text-align: center;
			}

			p::first-letter{
				font-weight: bold;
				color: #e2264f;
			}
		}
	}

	.right {
		@media screen and (min-width: 0px) and (max-width: $desktop) {
			display: none;
		}
	}

}
